html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: NanumGothicLight;
    background: white;
    overflow: hidden;
    -webkit-app-region: no-drag;
}

div#root {
    position: relative;
    top: 30px;
    font-family: NanumGothicLight;
    user-select: none;
    height: 100%;
    width: 100%;
    z-index: 1;
}

header {
    height: 30px;
    position: fixed;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
    -webkit-app-region: drag;
}

@font-face {
    font-family: NanumGothic;
    src: url('../fonts/NanumGothic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicBold;
    src: url('../fonts/NanumGothicBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicExtraBold;
    src: url('../fonts/NanumGothicExtraBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NanumGothicLight;
    src: url('../fonts/NanumGothicLight.otf');
    font-weight: normal;
    font-style: normal;
}