html {
    height: 100%;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(116, 116, 116, 0.5);
    width: 100%;
    border-radius: 10px;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: NotoSansKR sans-serif;
    background: white;
    overflow: hidden;
    -webkit-app-region: no-drag;
}

div#root {
    position: relative;
    top: 30px;
    user-select: none;
    height: 100%;
    width: 100%;
    z-index: 1;
}

header {
    height: 30px;
    position: fixed;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
    -webkit-app-region: drag;
}

@font-face {
    font-family: NotoSansKR;
    src: url('../fonts/NotoSansKR-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSansKR-Light;
    src: url('../fonts/NotoSansKR-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSansKR-Regular;
    src: url('../fonts/NotoSansKR-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSansKR-SemiBold;
    src: url('../fonts/NotoSansKR-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSansKR-Thin;
    src: url('../fonts/NotoSansKR-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}